.col-md-4.col-sm-4.col-xs-12
  .x_panel.tile.fixed_height_320.overflow_hidden
    .x_title
      %h2
        = actual.title
      %ul.nav.navbar-right.panel_toolbox
        %li
          %a.collapse-link
            %i.fa.fa-chevron-up
        %li
          = link_to '', { :action => :destroy, :id_del => actual.id }, :class => 'fa fa-close'
      .clearfix
    .x_content
      /Crear un id nuevo por cada grafico para que cargue los nuevos y cargarlo
      %div{:style => "width:100%; height:220px;",:id =>"#{actual.id}-bar"}

- content_for :javascripts do
  :javascript
    $(document).ready(function() {
      Morris.Bar({
        element: '#{actual.id}-bar',
        data: jQuery.parseJSON('#{actual.value}'),
        xkey: 'label',
        ykeys: ['value'],
        labels: ['Sold'],
        barRatio: 0.4,
        barColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
        xLabelAngle: 35,
        hideHover: 'auto',
        resize: true
      });
    });