.col-md-4.col-sm-6.col-xs-12
  .x_panel
    .x_title
      %ul.nav.navbar-right.panel_toolbox
        %li.pull-right
          = link_to '', { :action => :destroy, :id_del => index }, :class => 'fa fa-close'
        %li.pull-right
          %a{:class => 'fa fa-cloud-download', :id =>"#{index}-save"}
      = render "stadistics/title", actual:actual
      .clearfix
    .x_content
      /Crear un id nuevo por cada grafico para que cargue los nuevos y cargarlo
      %canvas{:id =>"#{index}-bar"}

- content_for :javascripts do
  :javascript
    Chart.defaults.global.legend = {
        enabled: false
      };
    $("##{index}-save").click(function() {
      document.getElementById("#{index}-bar").toBlob(function(blob) {
          saveAs(blob, "chart_#{index}.png");
      });
    });
    var ctx = document.getElementById("#{index}-bar").getContext("2d");
      var mybarChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: JSON.parse('#{actual.labels}'),
          datasets: [{
            label: 'total',
            backgroundColor: "#26B99A",
            data: JSON.parse('#{actual.value}')
          }]
        },

        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true,
                stepSize:1
              }
            }]
          }
        }
      });



