.col-md-4.col-sm-6.col-xs-12
  .x_panel
    .x_title
      %ul.nav.navbar-right.panel_toolbox
        %li.pull-right
          = link_to '', { :action => :destroy, :id_del => actual.id }, :class => 'fa fa-close'    
      = render "stadistics/title", actual:actual
      .clearfix
    .x_content
      %canvas{:id =>"#{actual.id}-donut"}



- content_for :javascripts do
  :javascript
    var ctx = document.getElementById("#{actual.id}-donut");
    var data = {
      labels: JSON.parse('#{actual.labels}'),
      datasets: [{
        data: JSON.parse('#{actual.value}'),
        backgroundColor: [
          "#455C73",
          "#9B59B6",
          "#BDC3C7",
          "#26B99A",
          "#3498DB",
          "#FFA4FF",
          "#B445FE",
          "#7DFDD7",
          "#FFFFC8",
          "#FF9797",
          "#B8C1FF",
          "#F7491E"
        ],
        hoverBackgroundColor: [
          "#34495E",
          "#B370CF",
          "#CFD4D8",
          "#36CAAB",
          "#49A9EA",
          "#FF4AFF",
          "#C269FE",
          "#03F3AB",
          "#FFFF84",
          "#FF7575",
          "#979AF2",
          "#FF3C05"
        ]

      }]
    };

    var canvasDoughnut = new Chart(ctx, {
      type: 'doughnut',
      tooltipFillColor: "rgba(51, 51, 51, 0.55)",
      data: data
    });