.col-md-4.col-sm-6.col-xs-12
  .x_panel
    .x_title
      %ul.nav.navbar-right.panel_toolbox
        %li.pull-right
          = link_to '', { :action => :destroy, :id_del => actual.id }, :class => 'fa fa-close'
        %li.pull-right
          %a{:class => 'fa fa-cloud-download', :id =>"#{actual.id}-save"}
      = render "stadistics/title", actual:actual
      .clearfix
    .x_content
      %canvas{:id =>"#{actual.id}-line"}


-content_for :javascripts do
  :javascript
    Chart.defaults.global.legend = {
      enabled: false
    };
    $("##{actual.id}-save").click(function() {
      document.getElementById("#{actual.id}-line").toBlob(function(blob) {
          saveAs(blob, "chart_#{actual.id}.png");
      });
    });
    var ctx = document.getElementById('#{actual.id}-line');
    var lineChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: JSON.parse('#{actual.labels}'),
        datasets: [{
          backgroundColor: "rgba(38, 185, 154, 0.31)",
          borderColor: "rgba(38, 185, 154, 0.7)",
          pointBorderColor: "rgba(38, 185, 154, 0.7)",
          pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
          pointHoverBackgroundColor: "#fff",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointBorderWidth: 1,
          data: JSON.parse('#{actual.value}')
        }]
      },
    });