.col-md-4.col-sm-4.col-xs-12
  .x_panel.tile.fixed_height_320.overflow_hidden
    .x_title
      %h2
        = actual.title
      %ul.nav.navbar-right.panel_toolbox
        %li
          %a.collapse-link
            %i.fa.fa-chevron-up
        %li
          = link_to '', { :action => :destroy, :id_del => actual.id }, :class => 'fa fa-close'
      .clearfix
    .x_content
      %canvas{:id =>"#{actual.id}-line"}


-content_for :javascripts do
  :javascript
    Chart.defaults.global.legend = {
      enabled: false
    };
    var ctx = document.getElementById('#{actual.id}-line');
    var lineChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: JSON.parse('#{actual.labels}'),
        datasets: [{
          label: "My First dataset",
          backgroundColor: "rgba(38, 185, 154, 0.31)",
          borderColor: "rgba(38, 185, 154, 0.7)",
          pointBorderColor: "rgba(38, 185, 154, 0.7)",
          pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
          pointHoverBackgroundColor: "#fff",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointBorderWidth: 1,
          data: JSON.parse('#{actual.value}')
        }]
      },
    });