.col-md-4.col-sm-6.col-xs-12
  .x_panel
    .x_title
      %ul.nav.navbar-right.panel_toolbox
        %li.pull-right
          = link_to '', { :action => :destroy, :id_del => actual.id }, :class => 'fa fa-close'
      %h2{ :title => actual.title}
        = actual.title
      .clearfix
    .x_content
      %canvas{:id =>"#{actual.id}-pie"}

- content_for :javascripts do
  :javascript
    Chart.defaults.global.legend = {
      enabled: false
    };
    var ctx = document.getElementById("#{actual.id}-pie");
    var data = {
      datasets: [{
        data: JSON.parse('#{actual.value}'),
        backgroundColor: [
          "#455C73",
          "#9B59B6",
          "#BDC3C7",
          "#26B99A",
          "#3498DB",
          "#FFA4FF",
          "#B445FE",
          "#7DFDD7",
          "#FFFFC8",
          "#FF9797",
          "#B8C1FF",
          "#F7491E"
        ],
        label: 'My dataset' // for legend
      }],
      labels: JSON.parse('#{actual.labels}')
    };
    var pieChart = new Chart(ctx, {
      data: data,
      type: 'pie',
      otpions: {
        legend: false
      }
    });