#bar-modal.modal.fade.bd-example-modal-md{:role => "dialog"}
  .modal-dialog.modal-lg
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title.text-center
          = t('stadistics.select_stat')
      .modal-body
        #options
          =form_tag 'data',:remote => true do
            .container
              .row
                .col-md-4  
                .col-md-6
                  #checkboxes
                    .checkbox
                      %label
                        %input{:name => "data",:type => "checkbox", :value => "0"}>/
                        %label 
                          = t('stadistics.total_users')
                    .checkbox
                      %label
                        %input{:name => "data",:type => "checkbox", :value => "1"}>/
                        %label
                          = t('stadistics.total_producers')
                    .checkbox
                      %label
                        %input{:name => "data",:type => "checkbox", :value => "2"}>/
                        %label
                          = t('stadistics.total_products')
                    .checkbox
                      %label
                        %input{:name => "data",:type => "checkbox", :value => "3"}>/
                        %label
                          = t('stadistics.total_orders')
                    .checkbox
                      %label
                        %input{:name => "data",:type => "checkbox", :value => "4"}>/
                        %label
                          = t('stadistics.total_hubs')
                    .checkbox
                      %label
                        %input{:name => "data",:type => "checkbox", :value => "5"}>/
                        %label
                          = t('stadistics.total_completed_orders')
                    .checkbox
                      %label
                        %input{:name => "data",:type => "checkbox", :value => "6"}>/
                        %label
                          = t('stadistics.total_incompleted_orders')
                    .checkbox
                      %label
                        %input{:name => "data",:type => "checkbox", :value => "7"}>/
                        %label
                          = t('stadistics.completed_order_cycles')
                    .checkbox
                      %label
                        %input{:name => "data",:type => "checkbox", :value => "8"}>/
                        %label
                          = t('stadistics.incompleted_order_cycles')
              .modal-footer
                =hidden_field_tag :bar_data, "", :id=>"bar_data"
                =hidden_field_tag :del_stat, "", :id=>"del_stat"
                =submit_tag "Update", :class => 'btn btn-default pull-right', :id => 'data-button', :del_stat => "del-stat"

- content_for :javascripts do
  :javascript
    $("input[name='data']").change(function () {
        var maxAllowed = 1;
        var cnt = $("input[name='data']:checked").length;
        if (cnt > maxAllowed) {
            $(this).prop("checked", "");
            alert('You can select maximum ' + maxAllowed + ' option');
        }
    });
    $("#data-button").click(function(){
      var selected = [];
      $('#checkboxes input:checked').each(function() {
          selected.push($(this).attr('value'));
      });
      if (selected.length != 1){
        alert("You have to select one option")
        return false
      }
      $("#bar_data").val(JSON.stringify(selected))
    });
    for (i = 0; i < 6; i++) {
        $("#"+i).click(function() {
          var selected =  [];
          selected.push($(this).attr('id'));
          $("#del_stat").val(JSON.stringify(selected));
        });
    }