%body.nav-md
  .container.body
    .main_container
      .col-md-3.left_col
        .left_col.scroll-view
          .navbar.nav_title{:style => "border: 0;"}
            %span.site_title Open Food Network
          .clearfix
          %br/
          / sidebar menu
          #sidebar-menu.main_menu_side.hidden-print.main_menu
            .menu_section
              %h3 General
              %ul.nav.side-menu
                %li
                  %a
                    %i.fa.fa-home
                    Estadísticas
                    %span.fa.fa-chevron-down
                  %ul.nav.child_menu
                    %li
                      %a{:href => "index.html"} Generales
          / /sidebar menu
      / page content
      .right_col{:role => "main"}

        .row
          /Se llaman los graficos que se quieren generar
          = render "/stadistics/charts/doughnut-chart"
          = render "/stadistics/charts/bar-graph"
          = render "/stadistics/charts/column-chart"
          = render "/stadistics/charts/line-chart"

        .sidebar-widget.pull-right{:role => "button"}
          %button.btn.btn-info.btn-circle.btn-xl{"data-target" => "#filterModal", "data-toggle" => "modal", :type => "button"}
            %span +
        / Modal
        = render "/stadistics/filter-modal"



