%body.nav-md
  .container.body
    .main_container
      .col-md-3.left_col
        .left_col.scroll-view
          .navbar.nav_title{:style => "border: 0;"}
            %a.site_title{:href => "/"} 
              = t('stadistics.title')          
            /%img.titleicon{:src => "/assets/stadistics-logo.svg",:href => "/"}            
          .clearfix
          %br/
          / sidebar menu
          #sidebar-menu.main_menu_side.hidden-print.main_menu
            .menu_section
              %ul.nav.side-menu
                %li
                  %a
                    %i.fa.fa-home
                    = t('stadistics.stadistics')
                    %span.fa.fa-chevron-down
                  %ul.nav.child_menu
                    %li
                      %a{:href => "index.html"}
                        = t('stadistics.system')
          / /sidebar menu
      .top_nav
        .nav_menu
          %nav
            .nav.toggle
              %a#menu_toggle
                %i.fa.fa-bars
        
                    
                
      / page content
      .right_col{:role => "main"}
        .row.tile_count
          -index = 0
          -while index < $titles.size do
            .col-md-2.col-sm-4.col-xs-6.tile_stats_count
              %span.count_top
                %li.glyphicon.glyphicon-align-right
                =$titles[index]
              .count 
                =$values[index]
              -index+=1
          .col-md-2.col-sm-4.col-xs-6.text-center
            %button#bar-button.btn.btn-default.btn-sm{"data-target" => "#bar-modal", "data-toggle" => "modal", :type => "button"} Seleccionar datos

        .row
          -if $graphics != nil
            - $graphics.each do |actual|
              - if actual.chart == '1'
                /Se llaman los graficos que se quieren generar
                = render 'stadistics/charts/bar-chart', actual:actual
              - elsif actual.chart == '2'
                = render 'stadistics/charts/line-chart', actual:actual
              - elsif actual.chart == '3'
                = render 'stadistics/charts/doughnut-chart', actual:actual
              - elsif actual.chart == '4'
                = render 'stadistics/charts/radar-chart', actual:actual
              - elsif actual.chart == '5'
                = render 'stadistics/charts/pie-chart', actual:actual
        .sidebar-widget.pull-right{:role => "button"}
          %button.btn.btn-info.btn-circle.btn-xl{"data-target" => "#filterModal", "data-toggle" => "modal", :type => "button"}
            %span +
            
                 
      / Modal
      = render "/stadistics/filter-modal"
      = render "/stadistics/bar-modal"



