%html
  %head
    %meta{charset: 'utf-8'}/
    %meta{name: 'viewport', content: "width=device-width,initial-scale=1.0"}/
    %meta{property: "og:title", content: content_for?(:title) ? yield(:title) : t(:title)}
    %meta{property: "og:description", content: content_for?(:description) ? yield(:description) : t(:site_meta_description)}
    %meta{property: "og:image", content: content_for?(:image) ? yield(:image) : ContentConfig.logo.url}
    %title= 'Stadistics - Open Food Network'
    -# %title= content_for?(:title) ? "#{yield(:title)} - #{t(:title)}".html_safe : "#{t(:welcome_to)} #{t(:title)}"
    - if Rails.env.production?
      = favicon_link_tag
    - else
      = favicon_link_tag "/favicon-staging.ico"
    %link{href: "https://fonts.googleapis.com/css?family=Roboto:400,300italic,400italic,300,700,700italic|Oswald:300,400,700", rel: "stylesheet", type: "text/css"}

    = yield :scripts
    %script{src: "//maps.googleapis.com/maps/api/js?libraries=places,geometry"}
    = split_stylesheet_link_tag "stadistics/charts/font-awesome/font-awesome.css"
    = split_stylesheet_link_tag "stadistics/bootstrap/bootstrap.css"
    = split_stylesheet_link_tag "stadistics/bootstrap/bootstrap-datetimepicker.css"
    = split_stylesheet_link_tag "stadistics/custom.css"


    = render "layouts/bugherd_script"
    = csrf_meta_tags

  %body

    = yield
    = javascript_include_tag "stadistics/jquery.js"
    = javascript_include_tag "stadistics/bootstrap.js"
    = javascript_include_tag "stadistics/custom.js"
    = javascript_include_tag "stadistics/charts/Chart.js"
    = yield(:javascripts)

    #footer

